@import '../../styles/colors';
@import '../../styles/variables';

.main-section {
    float: left;
    width: $mainWidth;
    height: $bodyHeight;
    padding-right: 15px;
    border-right: 2px solid $light-grey;
    overflow: hidden;
}