@import './reset';
@import './colors';

:global {
    *, *:before, *:after {
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: $black;
    }

    body {
        font-weight: 200;
        font-family: 'Helvetica Neue', 'Roboto', Arial, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    }

    .light-text {
        font-weight: 100;
    }

    .reg-text {
        font-weight: 200;
    }

    .med-text {
        font-weight: 400;
    }

    .bold-text {
        font-weight: 500;
    }

    .heavy-bold-text {
        font-weight: 600;
    }

    .clear-fix {
        &:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            clear: both;
        }
    }
}