@import './reset';
@import './colors';

*, *:before, *:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $black;
}

body {
    letter-spacing: 0.1px;
    font-weight: 300;
    // font-family: 'Source Sans Pro', sans-serif;
    // font-family: 'Lato', sans-serif;
    // font-family: 'Open-Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.light-text {
    font-weight: 100;
}

.reg-text {
    font-weight: 200;
}

.med-text {
    font-weight: 400;
}

.bold-text {
    font-weight: 500;
}

.heavy-bold-text {
    font-weight: 600;
}
