@import '../../styles/colors';
@import '../../styles/variables';

.projects-block {
    display: block;
    width: 100%;
    margin-bottom: 16px;

    .project-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .project-meta {
            display: flex;
            flex-direction: row;

            .project-title {
                font-size: 20px;
            }

            .separator {
                font-size: 18px;
                margin: 0.5px 4px;
            }

            .type {
                margin: 3px 0;
                font-size: 14px;
                color: $grey;
            }

            .tech {
                margin: 3px 0;
                font-size: 14px;
                color: $grey;
            }
        }

        .time {
            font-size: 16px;
            margin: 1.5px 0px;
        }
    }

    .content {
        margin-top: 5px;
        padding-left: 20px;
        font-size: 16px;
        line-height: 1.1;
    }
}