@import '../../styles/colors';

.education-block {

    .uni {
        font-size: 21.92px;
        margin-bottom: 5px;
    }

    .degree {
        font-size: 14.62px;
        margin-bottom: 5px;
    }

    .term {
        font-size: 14px;
    }

    .award {
        margin: 0 0 8px 30px;
        list-style-type: disc;

        >li {
            font-size: 15px;
        }
    }
}