@import '../../styles/colors';

.education-block {

    .uni {
        font-size: 18px;
        margin-bottom: 4px;
    }

    .degree {
        font-size: 15px;
        margin-bottom: 3px;
    }

    .term {
        font-size: 15px;
        color: $grey;
        margin-bottom: 4px;
    }

    .award {
        margin: 0 0 8px 30px;
        list-style-type: disc;

        >li {
            font-size: 15px;
        }
    }
}