@import '../../styles/colors';

.education-block {

    .uni {
        font-size: 20px;
        margin-bottom: 6px;
    }

    .degree {
        font-size: 14.6px;
        margin-bottom: 4.5px;
    }

    .term {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .award {
        margin: 0 0 8px 30px;
        list-style-type: disc;

        >li {
            font-size: 15px;
        }
    }
}