@import '../../styles/colors';
@import '../../styles/variables';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: $headerHeight;
    border-bottom: 2px solid $grey;

    .main-desc {
        .name {
            font-size: 73px;
            margin-bottom: 10px;
        }

        .term {
            font-size: 20px;
        }
    }

    .contact-links {
        width: $sideWidth;
        margin-top: -12px;
        padding-left: 12px;

        >a {
            display: block;
            margin-bottom: 5px;
        }
    }
}