.skills-block {
    margin-bottom: 8px;

    .skills-title {
        font-size: 22px;
    }

    .content {
        margin-left: 30px;
        list-style-type: disc;

        >li {
            font-size: 17px;
            margin-top: 8px;
            line-height: 1.1;
        }
    }
}
